#minesweeper, #gamePacMan, #schereSteinPapier {
    width: 500px;
    height: 500px;
}
#titelPacMan {
    width: 600px;
    height: 500px;
}

#titelSnake{
    width: 700px;
    height: 500px;
}
#snake{
    width:450px;
    height:500px;
}
#quiz {
    width: 700px;
    height: 500px;
}
.reveal {
    background-color:cornflowerblue;
}

